
# IDE Generated
Client/.vs
Client/.idea
Client/Client.sln.DotSettings.user

# Unity Generated
Client/Library
Client/Logs
Client/obj
Client/Temp

Tools/CodeProtect/Log

# FSMDebugDumpLog
Client/Assets/Scripts/Tools/FSMDebuger/FSMDebugDump.txt
Client/Assets/Scripts/Tools/FSMDebuger/FSMDebugDump.txt.meta

Data/csv
Data/outputs
Data/gdconfig
Protos/outputs
Tools/DataFileExporter/proj/.vs
Tools/DataFileExporter/proj/DataFileExporter/obj
Tools/ProtoGenerator/proj/.vs
Tools/ProtoGenerator/proj/ProtoGenerator/bin
Tools/ProtoGenerator/proj/ProtoGenerator/obj
Tools/ProtoGenerator/proj/.idea
Client/Assets/Xlua/Gen/
Client/Assets/BuildReports
Client/Assets/BuildReports.meta
Client/HybridCLRData/*
!Client/HybridCLRData/LocalIl2CppData-OSXEditor
!Client/HybridCLRData/LocalIl2CppData-WindowsEditor

CodeScan/CSharpScan/.vs
CodeScan/CSharpScan/CSharpScan/bin
CodeScan/CSharpScan/CSharpScan/obj
CodeScan/TscanCode/*.dmp
CodeScan/TscanCode/*.crash
CodeScan/Output

Tools/**/bin
Tools/**/obj
Tools/**/.vs

Thumbs.db
Thumbs.db.meta
.DS_Store
.DS_Store.meta
.vs
.vscode
.history
.idea
.githooks
Client/***.csproj
Client/**/*.sln

__pycache__

Client/Assets/AssetGraph/AssetBundles/Cache*
Client/Assets/Xlua/Gen.meta
Client/bin/
Client/Packages/System.Buffers.4.5.1/
Client/Packages/System.Memory.4.5.4/
Client/ServerData/
Client/UserSettings/
Client/Assets/AssetBundles/Lua/**/*.bytes
Client/Assets/AssetBundles/Lua/**/*.meta

XLua/build/**/build*/

/Build/
Client/Build/
BuildLogs/
BuildOutputs/
QQC
/Client/Assets/QQC.meta
*.vsconfig
bin/apk/l3.apk
~*

**/CLAUDE.md

Protos/**/obj/
Protos/**/bin/

FavouritesAsset.asset*
Client/MemoryCaptures/
Client/Assets/StreamingAssets/build_info
Client/Assets/StreamingAssets/build_info.meta
Client/Assets/StreamingAssets/HotFixAssemblies/*.dll
Client/Assets/StreamingAssets/HotFixAssemblies.meta

ProjectCuratorSettings.json
BuildReportToolOptions.xml
bin/apk/

Client/Assets/AssetBundles/Patches/**
Data/TMP_I18N_CSV
Client/DepAllIssues*
Client/DepDupImplicits*
Client/DepImplicits*
Client/DepImplicitsAndRefs*

# Wwise Generated
Client/Assets/StreamingAssets/GeneratedSoundBanks/DecodedBanks
Client/Assets/StreamingAssets/GeneratedSoundBanks/DecodedBanks.meta

Client/Assets/FR2_Cache.asset
Client/Assets/FR2_Cache.asset.meta
Client/Assets/landing
Client/Assets/landing.meta
Client/TestData/
Client/HotFix_Project/obj/
Client/HotFix_Project/Temp/
Client/HotFix_Project/UnityDlls/
Client/Assets/AssetBundles/HotFix/HotFixEditor*
Client/Assets/AssetBundles/HotFix/HotFixDev*
/Client/Packages/com.unity.ugui
Client/Assets/Z-NT
Client/Assets/Z-NT.meta
/Client/Assets/Scripts/UI/Common/UIRollingDigital.cs
Client/InjectFixChecker/InjectFixChecker/bin
Client/InjectFixChecker/InjectFixChecker/obj
Client/InjectFixChecker/InjectFixChecker/bin
Client/InjectFixChecker/.pdb
Client/Assets/Samples
Client/Assets/Bakery
Client/Assets/Bakery.meta
Client/Diting/LOG/
Client/AGENTS.md
